
//Color Palatte

$bg : #EAEAEA;
$about-bg :#C0463B;
$text-light : #f0e3e4;
$text-primary : #191818;
$text-active : #d75814c6;
$request-bg : #d22228e6;
$content-bg : #daccca;
$home-svg :rgba(65,92,101,0.16);
$filter-btn : #d22228;
$filter-txt : #ede4e2;


//Variables


$main-height : calc(100vh - 20rem);
$main-mob-height : calc(100vh - 15rem);
$main-width : 100%;